<div class="product">

  <a class="product" href="{{ site.baseurl }}{{ product.url }}">
    <img src="{{ site.baseurl }}/{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/>
    <p>{{ product.name }}</p>
  </a>

  <button class="snipcart-add-item"
    data-item-name="{{ product.name }}"
    data-item-id="{{ product.sku }}"
    data-item-image="{{ site.baseurl }}/{{ product.image }}"
    data-item-url="{{ site.baseurl }}"
    data-item-price="{{ product.price }}">
    Compra ora a {{ product.price }} €
  </button>

</div>
